.unit {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

.textClass {
	position: relative;
	margin: auto;
	width: 40%;
	padding-top: 300px;
}

.imageClass {
	height: 300px;
	top: 0px;
	position: absolute;
	animation: sizeChange 3s infinite;
}

